<%= form_for(@impression) do |f| %>
  <% if @impression.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@impression.errors.count, "error") %> prohibited this impression from being saved:</h2>

      <ul>
      <% @impression.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :developer %><br />
    <%= f.text_field :developer %>
  </div>
  <div class="field">
    <%= f.label :ad %><br />
    <%= f.text_field :ad %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :store %><br />
    <%= f.text_field :store %>
  </div>
  <div class="field">
    <%= f.label :user_info %><br />
    <%= f.text_field :user_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
