<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ad.name %>
</p>

<p>
  <b>Headline:</b>
  <%= @ad.headline %>
</p>

<p>
  <b>Body:</b>
  <%= @ad.body %>
</p>

<p>
  <b>Advertiser:</b>
  <%= @ad.advertiser_id %>
</p>

<p>
  <b>Impression count:</b>
  <%= @ad.impression_count %>
</p>

<p>
  <b>Click count:</b>
  <%= @ad.click_count %>
</p>

<p>
  <b>Category:</b>
  <%= @ad.category %>
</p>

<br>
<%= @category %><br>
<%= @latitude %><br>
<%= @longitude %><br>
<%= @user_info %><br>
<%= @distance %> miles

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>