<h1>Listing clicks</h1>

<table>
  <tr>
    <th>Developer</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>User info</th>
    <th>Ad</th>
    <th>Advertiser</th>
    <th>Store</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clicks.each do |click| %>
  <tr>
    <td><%= click.developer %></td>
    <td><%= click.latitude %></td>
    <td><%= click.longitude %></td>
    <td><%= click.user_info %></td>
    <td><%= click.ad %></td>
    <td><%= click.advertiser %></td>
    <td><%= click.store %></td>
    <td><%= link_to 'Show', click %></td>
    <td><%= link_to 'Edit', edit_click_path(click) %></td>
    <td><%= link_to 'Destroy', click, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Click', new_click_path %>
